#verticle{
	height: 400px
}
#horizontal{
	width: 400px
}
#heading{
	font-size: 55px;
	color: #8F8F8F;
}
#title{
	color: #8F8F8F;
	font-size: 30px;
}
#link{
	color: #8F8F8F;
	font-family: : sans-serif;
}
